/* Fonts and colors */

body {
	background: #F5F7DC;
	color: #0B1D51;
	font-family: Helvetica;
	font-size: 17px;
	margin: 0
}

h1 {
	font-family: 'Rubik Mono One', sans-serif;
	color: #0D1B2A;
	font-size: 60px;
}

h2 {
font-family: Helvetica;
color: #0B1D51;
}

a {
	text-decoration: none;
	color:#355691;
}

a:hover {
	text-decoration: none;
	color: #FF958C;
}

/* Customize design */

#banner {
	background-image: url(https://unsplash.it/1000/300/);
	padding: 150px 0px;
	text-align: center;
	background-size: cover;
	color: #FFFFFF;
	border: none;
}

#banner h1 {
	color: #FFFFFF;
	text-align: center;
}

#banner p {
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	font-weight: lighter;
	opacity: 0.8
}

.features {
	padding: 10px 10px;
	text-align: center;
}

#footer {
	background: #0B1D51;
	color: #F5F7DC;
	font-size: 20px;
	padding: 10px 10px;
	border: none;
	text-align: center;
}

#footer a {
	color:white;
}

#footer ul {
	color: #F5F7DC;
}

#footer a:hover {
	color: #FF958C;
}







